doctype html
html(lang="es")
  include ./head.pug
  body 
      include ./header.pug
      main
        section#container_favorites
          article.card
            h2.card_title subvencion1 
            p.card_descrip Quis autem vel eum iure reprehenderit Quis autem vel eum iure reprehenderit
            a(href='#') Link de la oferta original
            button.btn.addFavorites Quitar de favoritos
          article.card
            h2.card_title subvencion1 
            p.card_descrip Quis autem vel eum iure reprehenderit Quis autem vel eum iure reprehenderit
            a(href='#') Link de la oferta original
            button.btn.addFavorites Quitar de favoritos
          article.card
            h2.card_title subvencion1 
            p.card_descrip Quis autem vel eum iure reprehenderit Quis autem vel eum iure reprehenderit
            a(href='#') Link de la oferta original
            button.btn.addFavorites Quitar de favoritos
          