header#header 
  img(src="assets/images/crazy-C.jpg")
  nav
    ul#navBar
      -let navBarLinks=navBar_links
      
      a.nav_btn(href="/profile" role="button")="perfil"
      a.nav_btn(href="/favorites" role="button")="favoritos"
      a.nav_btn(href="/logout" role="button")="salir"