header#header 
  img(src="assets/images/crazy-C.jpg")
  nav
    ul#navBar
      -var navBarLinks=navBar_links
      each val, key in navBarLinks
        li 
          a.nav_btn(href=key role="button")=val