doctype html
html(lang="es")
  include ./head.pug
  body 
    header.general_header
      img.header_logo(src="assets/images/logo.png")
      nav
        ul#navBar
          li 
            a.outline_btn.btn(href="/") inicio
    main#main_login.flexColCenter
      h2 Login
      form#form(method="POST" action="/api/login ")
        label(for="email") Correo electrónico
        input#email(type="email", name="email")
        label(for="password") Contraseña
        input#password(type="password", name="password")
        button#submit_btn.fill_btn.btn(type="submit") Entrar
        a.outline_btn.btn.google_Auth(href="/login/google") Identificarse con google
      section.optional_btns.flexColCenter
        a.outline_btn.btn(href="/signup" role="button") Registrarse
        button.text_btn.btn(type="button") Entrar sin registrarse
  script(src="script.js") 