doctype html
html(lang="es")
  include ./head.pug
  body 
    header.general_header
      img.header_logo(src="assets/images/logo.png")
      nav
        ul#navBar
          li 
            a.outline_btn.btn(href="/") inicio
    main#main_profile.flexColCenter
      h2 Registro
      form#form(method="POST" action="api/users")
        label(for="name") Nombre
        input#name(type="text", name="name")
        label(for="surname") Apellidos
        input#surname(type="text", name="surname")
        label(for="email") Correo electrónico
        input#email(type="email", name="email")
        label(for="password") Contraseña
        input#password(type="password", name="password")
        label(for="avatar") Foto de perfil
        input#avatar(type="file", name="avatar" accept="image/png, image/jpeg")
        button#submit_btn.fill_btn.btn(type="submit") Registrarse
      section.optional_btns.flexColCenter
        a.logIn_btn.btn(href="/login" role="button") Entrar
        button#getIn_btn.btn(type="button") Entrar sin registrarse
  script(src="script.js") 