* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --radius08: 0.8rem;
  --radius04: 0.4rem;
  --regular-text: 1.4rem;
  --border-gray: #9fa0a0;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  width: 100%;
}

main {
  margin-top: 6rem;
  height: 100%;
  width: 100%;
}

input {
  padding: 0.8rem;
  font-size: 1.6rem;
  border-radius: var(--radius04);
  border: solid 0.1rem #b2b2b2;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

p {
  font-size: var(--regular-text);
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  min-width: 30rem;
}

label {
  font-size: 1.6rem;
}


a.btn {
  text-decoration: none;
  padding: 1rem 3rem;
  font-size: 1.6rem;
  text-align: center;
  color: #262626;
  border-radius: var(--radius04);
  min-width: fit-content;
  width: 100%;
}
a.btn_small {
  min-width: fit-content;
  width: 30%;
  max-width: 20rem;
}
a.homeAdmin_btns {
  font-size: 2.4rem;
}

.signUp_btn {
  background-color: #F2B66E;
}
.outline_btn,
.logIn_btn {
  border: solid 0.1rem var(--border-gray);
}
.outlineColor_btn {
  background-color: #fafafa;
  border: solid 0.2rem #95e1aa;
}
.btn {
  padding: 0.8rem 1rem;
  border-radius: var(--radius08);
  font-size: 1.6rem;
}
.fill_btn {
  background-color: #F2B66E;
}
.nav_btn {
  text-decoration: none;
  font-size: 1.7rem;
  color: #5C5C5C;
  border-bottom: 0.1rem solid #F2B66E;
  list-style: none;
  padding: 0.8rem 1rem;
  min-width: fit-content;
  width: 6rem;
}

.searchBtn {
  width: 60%;

  font-size: 1.4rem;
  color: #106fdf;
}



.card {
  display: grid;
  grid-template-rows: 1fr;
  border: solid 0.1rem var(--border-gray);
  border-radius: var(--radius08);
  padding: 1.4rem 2rem;
  gap: 0.8rem;
  width: 100%;
  min-width: 30rem;
}

.card_date {
  font-size: 1.8rem;
  font-weight: 600;
}

.grantsList_title,
.usersList_title {
  text-align: center;
}

.grantsList_amount {
  padding: 1rem 2rem;
  font-size: 2.4rem;
  text-align: center;
  width: 100%;
  margin: 3rem auto;
  background-color: #a2e0d1;
}

.usersList_usersAmount {
  padding: 1rem 2rem;
  font-size: 2.4rem;
  text-align: center;
  width: 100%;
  margin: 3rem auto;
  background-color: #eeeeee;
}

.grantCard {
  display: flex;
  flex-direction: column;
  border: solid 0.1rem var(--border-gray);
  border-radius: var(--radius08);
  padding: 1.4rem 2rem;
  gap: 0.8rem;
  min-width: 20rem;
}

.user_card {
  display: flex;
  flex-direction: column;
  border: solid 0.1rem var(--border-gray);
  border-radius: var(--radius08);
  padding: 1.4rem 2rem;
  gap: 0.8rem;
  width: 100%;
  min-width: 3.6rem;
  max-width: 40rem;
}

.grantCard_header,
.userCard_main,
.userCard_header {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.grantCard_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.userCard_role {
  font-weight: 600;
  font-size: 1.8rem;
}

.userCard_main>img {
  max-width: 6.4rem;
  max-height: 6.4rem;
  min-width: 5rem;
  min-height: 5rem;
  width: 100%;
}

.userCard_data>p {
  font-size: 1.6rem;
  flex-wrap: wrap;
}

.card>a {
  font-size: 1.4rem;
}

.addFavorites {
  margin-top: 1rem;
}

.notFoud_homeBtn,
.dashboardBtn {
  padding: 1rem 3rem;
  background-color: #a2e0d1;
  border-radius: var(--radius04);
  text-decoration: none;
  text-align: center;
  min-width: fit-content;
  width: 40%;
}


.notFoud_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  padding: 2rem;
}

.hidden {
  display: none;
}


#main_profile {

.notFoud_homeBtn {
  margin-top: 2rem;
  font-size: 1.8rem;
}
.notFoud_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;
  padding: 2rem;
  width: 80%;
  margin: 3rem auto;
}
.header_logo {
  width: 6.4rem;
}
.optional_btns {
  width: 60%;
  max-width: 20rem;
  margin-top: 3rem;
  gap: 1.4rem;
}
.flexColCenter {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexCol {
  display: flex;
  flex-direction: column;
}
.main {
  width: 80%;
}
.homeAdmin_btns {
  min-height: 10rem;
  height: 20rem;
  max-height: 30rem;
  min-width: 25rem;
  width: 100%;
  max-width: 40rem;
  border-radius: var(--radius08);
  font-size: 2.4rem;
  border: solid 0.1rem var(--border-gray);
}
.hidden {
  display: none;
}


/* .homeAdmin_section {
  margin: auto;
} */


#main_profile,
#main_login {
  gap: 4rem;
  height: 100%;
}

#homeAdmin_main {
  gap: 4rem;
  }

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.6rem 2.4rem;
  min-width: 30rem;
  width: 100%;
}

#header>img {
  height: 6.4rem;
  width: 6.4rem;
  border-radius: 50%;
  margin-right: 3rem;
}

#navBar {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1.2rem;
  min-width: fit-content;
}

#header_web {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1.2rem;
  padding: 1.6rem 2.4rem;
  width: 100%;
}

#navBar>li {
  list-style: none;

  padding: 0.8rem 1rem;
}

#navBar>li>a {
  text-decoration: none;
  font-size: 1.7rem;
  color: #262626;

}

#section_search {
  width: 80%;
  margin: auto;
  gap: 2rem;
}


#main_404,
#main_dashboard,
#grants_list,
#users_list,
#homeWeb_mainContent,
#searchResults,
#container_favorites {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
  padding: 2rem;
  width: 80%;
  margin: 3rem auto;
}

#main_404>img {
  width: 60%;
}

#homeWeb_mainContent {
  max-width: 60rem;
  min-width: 30rem;
  color: #5C5C5C;
}
#main_404 {
  min-width: 30rem;
}
#main_404>img {
  width: 100%;
  max-width: 40rem;
}

#homeWeb_btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 30rem;
  margin: auto;
  gap: 1.4rem;
}

#getIn_btn {
  background-color: transparent;
  border: none;
}

#container_favorites {
  margin-top: 0;
}

#search {
  width: 100%;
}

#submit_btn {
  margin-top: 2rem;
  border: solid 0.2rem #9a9696;
}
#homeAdmin_usersBtn {
  background-color: #faf8d6;
}
#homeAdmin_grantsBtn {
  background-color: #ffefdb;
}

#profileData_section {
  gap: 1.6rem;
  min-width: 25rem;
  width: 80%;
  max-width: 60rem;
}

#profileData_section > p {
  font-size: 1.8rem;
}


/* 
@media (min-width: 768px) {

} */