* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --radius08: 0.8rem;
  --radius04: 0.4rem;
  --regular_text: 1.4rem;
  --border_gray: #9fa0a0;
  --green_btn: #a2e0d1;
  --orange_btn: #f2b66e;
  --read_btn: #ffbdb8;
  --text_color_black: #262626;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  width: 100%;
}

main {
  margin-top: 6rem;
  height: 100%;
  width: 100%;
}

input {
  padding: 0.8rem;
  font-size: 1.6rem;
  border-radius: var(--radius04);
  border: solid 0.1rem #b2b2b2;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

p {
  font-size: var(--regular_text);
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  min-width: 30rem;
}

label {
  font-size: 1.6rem;
}

a.btn {
  text-decoration: none;
  padding: 1rem 3rem;
  font-size: 1.6rem;
  text-align: center;
  color: #262626;
  border-radius: var(--radius04);
  min-width: fit-content;
  width: 100%;
}

a.btn_small {
  min-width: fit-content;
  width: 30%;
  max-width: 20rem;
}

a.homeAdmin_btns {
  font-size: 2.4rem;
}

.signUp_btn {
  background-color: #f2b66e;
}

.outline_btn,
.logIn_btn {
  border: solid 0.1rem var(--border_gray);
}

.outlineColor_btn {
  background-color: #fafafa;
  border: solid 0.2rem #95e1aa;
}

.btn {
  padding: 0.8rem 1rem;
  border-radius: var(--radius08);
  font-size: 1.6rem;
}

.fill_btn {
  background-color: #f2b66e;
}

.nav_btn {
  text-decoration: none;
  font-size: 1.7rem;
  color: #5c5c5c;
  border-bottom: 0.1rem solid #f2b66e;
  list-style: none;
  padding: 0.8rem 1rem;
  min-width: fit-content;
  width: 6rem;
}

.searchBtn {
  width: 60%;
  font-size: 1.4rem;
  color: var(--text_color_black);
}

.card {
  display: grid;
  grid-template-rows: 1fr;
  border: solid 0.1rem var(--border_gray);
  border-radius: var(--radius08);
  padding: 1.4rem 2rem;
  gap: 0.8rem;
  width: 100%;
  min-width: 30rem;
}

.favorites_card {
  display: flex;
  flex-direction: column;
  border: solid 0.1rem var(--border_gray);
  border-radius: var(--radius08);
  padding: 1.4rem 2rem;
  gap: 1.2rem;
  min-width: 28rem;
  width: 100%;
  max-width: 36rem;
}

.card_link {
  overflow: hidden;
  font-size: 1.6rem;
  font-weight: 600;
}
.card_date {
  font-size: 1.4rem;
  font-weight: 600;
}
.card_id {
  font-size: 2rem;
}
.grantsList_title,
.usersList_title {
  text-align: center;
}

.grantsList_amount {
  padding: 1rem 2rem;
  font-size: 2.4rem;
  text-align: center;
  width: 100%;
  margin: 3rem auto;
  background-color: #e0fce8;
}

.usersList_usersAmount {
  padding: 1rem 2rem;
  font-size: 2.4rem;
  text-align: center;
  width: 100%;
  margin: 3rem auto;
  background-color: #eeeeee;
}

.grantCard {
  display: flex;
  flex-direction: column;
  border: solid 0.1rem var(--border_gray);
  border-radius: var(--radius08);
  padding: 1.4rem 2rem;
  gap: 1.2rem;
  min-width: 28rem;
  width: 100%;
  max-width: 36rem;
}

.user_card {
  display: flex;
  flex-direction: column;
  border: solid 0.1rem var(--border_gray);
  border-radius: var(--radius08);
  padding: 1.4rem 2rem;
  gap: 0.8rem;
  width: 100%;
  min-width: 3.5rem;
  max-width: 40rem;
  min-height: 15rem;
  height: 1.5rem;
}

.grantCard_header,
.userCard_main,
.userCard_header {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  overflow: hidden;
}

.grantCard_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.userCard_role {
  font-weight: 600;
  font-size: 1.8rem;
}

.userCard_main > img {
  max-width: 6.4rem;
  max-height: 6.4rem;
  min-width: 5rem;
  min-height: 5rem;
  width: 100%;
}

.userCard_data > p {
  font-size: 1.6rem;
  flex-wrap: wrap;
}

.card > a {
  font-size: 1.4rem;
  overflow: scroll;
}

.addFavorites {
  margin-top: 1rem;
}

.notFoud_homeBtn,
.dashboardBtn {
  padding: 1rem 3rem;
  background-color: #a2e0d1;
  color: #262626;
  border-radius: var(--radius04);
  text-decoration: none;
  text-align: center;
  min-width: 25rem;
  width: 40%;
  font-size: 1.6rem;
}

.notFoud_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  padding: 2rem;
}

.header_general {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.6rem 2.4rem;
  min-width: 30rem;
  width: 100%;
}
.hidden {
  display: none;
}

.notFoud_homeBtn {
  margin-top: 2rem;
  font-size: 1.8rem;
}

.notFoud_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;
  padding: 2rem;
  width: 80%;
  margin: 3rem auto;
}

.header_logo {
  width: 6.4rem;
}

.optional_btns {
  width: 60%;
  max-width: 20rem;
  margin-top: 3rem;
  gap: 1.4rem;
}

.flexColCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.main {
  width: 80%;
}

.homeAdmin_btns {
  min-height: 10rem;
  height: 20rem;
  max-height: 30rem;
  min-width: 25rem;
  width: 100%;
  max-width: 40rem;
  border-radius: var(--radius08);
  font-size: 2.4rem;
  border: solid 0.1rem var(--border_gray);
}

.navBar_general {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  gap: 1.2rem;
  min-width: fit-content;
}
.navBar_general {
  list-style: none;
}

.navBar_general > li > a {
  text-decoration: none;
}

.deleteFavorite {
  background-color: var(--read_btn);
}

.hidden {
  display: none;
}

#google_btn {
  margin-top: 1rem;
  background-color: #4285f4;
  color: white;
  border-radius: var(--radius08);
}
#delete_grant_btn {
  margin-top: 1rem;
  background-color: #ffbdb8;
}
#main_profile,
#main_login {
  gap: 4rem;
  height: 100%;
}
#profileForm {
  padding: 2rem;
  background-color: #f8f8f8;
  border-radius: var(--radius08);
}

#homeAdmin_main {
  gap: 4rem;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.6rem 2.4rem;
  min-width: 30rem;
  width: 100%;
}

#header > img {
  height: 6.4rem;
  width: 6.4rem;
  border-radius: 50%;
  margin: 5rem;
}

#navBar {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 1.2rem;
  min-width: fit-content;
}

#header_web {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1.2rem;
  padding: 1.6rem 2.4rem;
  width: 100%;
}

#navBar > li {
  list-style: none;

  padding: 0.8rem 1rem;
}

#navBar > li > a {
  text-decoration: none;
  font-size: 1.7rem;
  color: #262626;
}

#section_search {
  width: 80%;
  margin: auto;
  gap: 2rem;
}

#main_404,
#main_dashboard,
#grants_list,
#users_list,
#homeWeb_mainContent,
#searchResults,
#container_favorites {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
  padding: 2rem;
  width: 100%;
  margin: 3rem auto;
}
#main_dashboard {
  margin-top: 6rem;
}
#main_404 > img {
  min-width: 30%;
  max-width: 30rem;
}

#homeWeb_mainContent {
  max-width: 60rem;
  min-width: 30rem;
  color: #5c5c5c;
}

#main_404 {
  min-width: 30rem;
}

#homeWeb_btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 30rem;
  margin: auto;
  gap: 1.4rem;
}

#getIn_btn {
  background-color: transparent;
  border: none;
}

#submit_btn_grant {
  margin: 1.4rem;
  background-color: var(--green_btn);
}

#show_grantForm {
  padding: 1rem 3rem;
  border-radius: var(--radius04);
  text-align: center;
  min-width: fit-content;
  margin-top: 1.4rem;
  width: 40%;
  font-size: 1.6rem;
}
#container_favorites {
  margin-top: 0;
}

#search {
  width: 100%;
  max-width: 60rem;
}

#submit_btn {
  margin-top: 2rem;
  border: solid 0.2rem #9a9696;
}

#homeAdmin_usersBtn {
  background-color: #faf8d6;
}

#homeAdmin_grantsBtn {
  background-color: #ffefdb;
}

#profileData_section {
  gap: 1.6rem;
  min-width: 25rem;
  width: 80%;
  max-width: 60rem;
}

#profileData_section > p {
  font-size: 1.8rem;
}
.error {
  color: red;
}

@media (min-width: 768px) {
  .grantCard {
    height: 100%;
    justify-content: space-between;
    overflow: scroll;
  }
  #navBar {
    flex-direction: row;
  }
  #grants_list {
    flex-direction: row;
    flex-wrap: wrap;
    height: 60rem;
    gap: 3rem;
  }
  #users_list {
    flex-direction: row;
    flex-wrap: wrap;
  }
  #container_favorites {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
    padding: 2rem;
    width: 100%;
    margin: 3rem auto;
  }
}
